.navbar-container {
    position: sticky;
    top: 0;
    background-color: black;
    margin: 0;
    min-height: auto;
    padding: 1.25rem 1.875rem 1.25rem;
}

.utility-wrapper {
    background-color: grey;

    .utility-links {
        display: flex;
        justify-content: flex-end;
        padding: 10px 60px;
        list-style: none;
        margin: 0;

        li a {
            color: white;
            text-decoration: none;
        }
    }
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    column-gap: 20px;

    a {
        color: white;
        text-decoration: none;
        font-size: 18px;
    }
}

.navbar-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.25rem 1.875rem;
    margin: 0;
    min-height: auto;
}

.dropdown {
    position: relative;
}

.dropdown-button {
    background-color: black;
    border: none;
    color: white;
    font-size: 18px;
    position: relative;
    padding-right: 25px;
    outline: none;

    &:focus-visible {
        outline: -webkit-focus-ring-color auto 1px;
    }

    &:hover {
        text-decoration: underline;
    }

    &:after {
        content: "";
        background-image: url("../images/accordion-expand-20x20.svg");
        color: white !important;
        width: 10px;
        height: 10px;
        display: inline-block;
        background-position: center center;
        position: absolute;
        top: 6px;
        right: 10px;
    }
}

/* Dropdown menu initially hidden */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    padding: 1.25rem 1.875rem 1.25rem 2.5rem;
    margin-top: 10px;
    padding: 30px 35px;
    z-index: 1000;

    li {
        padding: 10px 0px;
        list-style: none;
    }
}

/* When the button has the 'open' class, show the dropdown */
.dropdown-button.open+.dropdown-menu {
    display: block;
}