.navbar-container {
    position: sticky;
    top: 0;
    background-color: black;
    margin: 0;
    min-height: auto;
    padding: 1.25rem 1.875rem 1.25rem;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 1.875rem;
    margin: 0;
    min-height: auto;
}

/* .dropdown {
    &:after {
        content: "";
        background-image: url("../images/accordion-expand-20x20.svg");
    }
} */

.dropdown-menu {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    border: 2px solid white;
}